{% twig_js name="siteapp_settings" %}
<div class="modal-content">
    <div class="title icon-options drag-handle">настройки</div>
    <ul class="projects-block clear">
        <li>
            <span class="project-title">проект</span>

            <div class="project-name">{{ site.name }}</div>
        </li>
        <li>
            <span class="project-title">приложение</span>

            <div class="project-name">{{ siteapp.app.name }}</div>
        </li>
    </ul>
    <div id="siteapp_form"></div>
    <button type="submit" class="blue button" id="submit_button"><span>Сохранить</span></button>
</div>
<a class="close-reveal-modal">×</a>
