{% extends "PartnerFrontendBundle::base_layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock title %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts "@PartnerUserBundle/Resources/public/js/passwordSwitch.js" %}
    <script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

{% block wrapper %}
    <div class="content_wrapper"> <!-- если нужен этот div -->
        {% block logo %}
            <div class="logo-block">
                <a href="{{ path('partner_frontend_homepage') }}" class="bottlegame-logo">Вottlegame</a>

                <div class="auth-title">Партнерская программа</div>
            </div>
        {% endblock %}
        {% block pagehead %}
            <div class="page-title-block">
                {% block pagetitle %}
                {% endblock %}
            </div>
            <div class="error-block">
                {% block errors %}
                {% endblock %}
            </div>
        {% endblock %}

        <div class="content-block">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endblock wrapper %}