* html #wrapper,
* html #footer {
    width: expression((documentElement.clientWidth||document.body.clientWidth)<1000?'1000px':'');
}

.table-register td,
.table-register-inside td {
    width: 285px !important;
}

.login-block textarea {
    overflow: hidden;
}