@import url(http://fonts.googleapis.com/css?family=Raleway:600,400,800);

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

header, nav, section, article, aside, footer {
    display: block;
}

body {
    font: 12px/18px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    height: 100%;
    background: #e7e7e7 url(../images/background-body.jpg) repeat center center;
}

a {
    color: #3e9ccc;
    outline: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 18px
}

img {
    border: none;
}

input {
    vertical-align: middle;
}

ul, ol {
    list-style: none;
}

hr {
    background: #a2a2a2;
    background-image: -moz-linear-gradient(left, #e8e8e8 0%, #a2a2a2 50%, #e8e8e8 100%);
    background-image: -ms-linear-gradient(left, #e8e8e8 0%, #a2a2a2 50%, #e8e8e8 100%);
    background-image: -o-linear-gradient(left, #e8e8e8 0%, #a2a2a2 50%, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #e8e8e8), color-stop(50%, #a2a2a2), color-stop(100%, #e8e8e8));
    background-image: -webkit-linear-gradient(left, #e8e8e8 0%, #a2a2a2 50%, #e8e8e8 100%);
    background-image: linear-gradient(left, #e8e8e8 0%, #a2a2a2 50%, #e8e8e8 100%);
    border: none;
    height: 1px;
    margin: 10px 0;
}

button {
    outline: none;
}

#wrapper {
    width: 100%;
    min-width: 1000px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* All
-----------------------------------------------------------------------------*/

.clear:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
}

.w1000 {
    width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

.bound {
    position: absolute;
}

@-moz-document url-prefix() {
    button span {
        position: relative;
        top: -1px;
    }

    .result-modal, .project-name {
        font: 600 16px/16px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    }

    .modal-content .title {
        font-weight: 600;
    }

    .txt-block2 {
        font-size: 14px;
        font-style: normal;
        line-height: 16px;
        margin-left: 141px;
        text-align: left;
    }
}

/* Header
-----------------------------------------------------------------------------*/
#header {
    background: transparent url(../images/bottom-header.png) no-repeat bottom center;
    height: 133px;
}

.header-content {
    background: #fff;
    height: 105px;
}

.header-content .w1000 {
    position: relative;
}

.bottlegame-logo {
    background: transparent url(../images/bottlegame-middle-logo.png) no-repeat;
    display: block;
    height: 62px;
    text-indent: -999px;
    width: 153px;
    margin: 0 auto;
}

.header-content .bottlegame-logo {
    left: 32px;
    position: absolute;
    top: 27px;
}

.client-block {
    height: 50px;
    left: 223px;
    padding: 2px;
    position: absolute;
    top: 38px;
    width: 200px;
}

.client-block:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.header-content .client-block .avatar,
.client-block:hover,
.client-block-modal .avatar {
    -khtml-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    behavior: url(/bundles/partnerfrontend/css/PIE.htc); /* Важно! путь должен быть относительно корня сайта */
    border-radius: 7px;
}

.header-content .client-block .avatar {
    border: 1px solid #ccc;
    float: left;
}

.header-content .client-info {
    margin-left: 55px;
}

.header-content .client-info .name {
    color: #f7005d;
    font: 800 13px/13px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.header-content .client-info .label,
.header-content .client-info .date {
    font: 12px/12px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.header-content .client-info .label {
    color: #999;
}

.header-content .client-info .date {
    color: #048ec8;
}

.header-nav {
    left: 420px;
    left: 414 px\9;
    position: absolute;
    top: 53px;
}

.header-nav li {
    float: left;
    text-align: center;
    position: relative;
}

.header-nav a {
    color: #666;
    font: 800 14px/14px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 5px 20px;
    text-decoration: underline;
    text-transform: uppercase;
}

.header-nav a:hover {
    color: #000;
    text-decoration: none;
}

.new-message-red {
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .1);
    background: #FF4444;
    border-radius: 18px;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .1);
    color: white;
    font-size: 10px;
    font-weight: 600;
    height: 13px;
    line-height: 12px;
    min-width: 13px;
    padding: 0px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    top: -5px;
}

/* Login end Register
-----------------------------------------------------------------------------*/
.login-block {
    margin: 0 auto;
    position: relative;
    width: 290px;
    padding-top: 5%;
    color: #888;
}

.login-block .bottlegame-logo {
    left: auto;
    margin: 0 auto;
    position: relative;
    top: auto;
}

.auth-title, .page-title-block {
    font: 600 15px/30px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.login-block {
    font-style: italic;
}

.login-block a {
    /*font-weight: 800;*/
}

.table-register {
    width: 590px;
    margin: 0 auto;
}

.table-register-inside {
    width: 100%;
}

.table-register td,
.table-register-inside td {
    padding: 3px 5px;
    width: 50%;
}

.extra-block {
    display: none;
}

.txtarea {
    width: 529px;
    height: 70px;
    margin: 5px 0 0 5px;
    padding: 10px 20px;
}

.txtarea.placeholder {
    color: #f7005d;
    font: 800 13px/28px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.txt-block2 {
    margin-left: 127px;
    line-height: 16px;
    font-style: normal;
    text-align: left;
}

.buttons1 {
    margin: 0 13px;
    width: 590px;
    margin: 0 auto;
}

.login-from {
    width: 255px;
    margin: 0 auto;
}

.resetting-from {
    width: 350px;
    margin: 0 auto;
}

.register-from {

}

.content_wrapper {
    padding-top: 10%;
}

/* Sterilization form elements
-----------------------------------------------------------------------------*/

.red {
    border: 1px solid #f60080;
    background-color: #ff5db1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5db1), to(#ef007c));
    background-image: -webkit-linear-gradient(top, #ff5db1, #ef007c);
    background-image: -moz-linear-gradient(top, #ff5db1, #ef007c);
    background-image: -ms-linear-gradient(top, #ff5db1, #ef007c);
    background-image: -o-linear-gradient(top, #ff5db1, #ef007c);
    background-image: linear-gradient(to bottom, #ff5db1, #ef007c);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ff5db1, endColorstr=#ef007c);
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
}

.red:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ef007c), color-stop(1, #ff5db1));
    background: -moz-linear-gradient(center top, #ef007c 5%, #ff5db1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef007c', endColorstr='#ff5db1');
    background-color: #f60080;
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
}

.blue {
    border: 1px solid #1c5675;
    background-color: #3093c7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
    background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
    background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3093c7, endColorstr=#1c5a85);
    box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    -khtml-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
}

.blue:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1c5a85), color-stop(1, #3093c7));
    background: -moz-linear-gradient(center top, #1c5a85 5%, #3093c7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c5a85', endColorstr='#3093c7');
    background-color: #1c5a85;
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
}

.brown {
    border: 1px solid #1c5675;
    background-color: #3093c7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d1703a), to(#b35724));
    background-image: -webkit-linear-gradient(top, #d1703a, #b35724);
    background-image: -moz-linear-gradient(top, #d1703a, #b35724);
    background-image: -ms-linear-gradient(top, #d1703a, #b35724);
    background-image: -o-linear-gradient(top, #d1703a, #b35724);
    background-image: linear-gradient(to bottom, #d1703a, #b35724);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d1703a, endColorstr=#b35724);
    box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    -khtml-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
}

.brown:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b35724), color-stop(1, #d1703a));
    background: -moz-linear-gradient(center top, #b35724 5%, #d1703a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b35724', endColorstr='#d1703a');
    background-color: #b35724;
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
}

.green {
    border: 1px solid #1c5675;
    background-color: #26ba42;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#29cb48), to(#28b242));
    background-image: -webkit-linear-gradient(top, #29cb48, #28b242);
    background-image: -moz-linear-gradient(top, #29cb48, #28b242);
    background-image: -ms-linear-gradient(top, #29cb48, #28b242);
    background-image: -o-linear-gradient(top, #29cb48, #28b242);
    background-image: linear-gradient(to bottom, #29cb48, #28b242);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#29cb48, endColorstr=#28b242);
    box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    -khtml-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
}

.green:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #28b242), color-stop(1, #29cb48));
    background: -moz-linear-gradient(center top, #28b242 5%, #29cb48 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28b242', endColorstr='#29cb48');
    background-color: #b35724;
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
}

.button {
    -khtml-border-radius: 5px;
    -khtml-text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
    -moz-border-radius: 5px;
    -moz-text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
    -webkit-border-radius: 5px;
    -webkit-text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
    border-radius: 5px;
    border: 0 none;
    color: #fff !important;
    font-size: 12px;
    font-weight: 800;
    padding: 10px 20px;
    position: relative;
    text-decoration: none !important;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
    cursor: pointer;
}

textarea,
input.field-while {
    border: none;
    box-shadow: inset 0 1px 1px #bababa;
    -webkit-box-shadow: inset 0 1px 1px #bababa;
    -moz-box-shadow: inset 0 1px 1px #bababa;
    -khtml-box-shadow: inset 0 1px 1px #bababa;
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
    outline: none;
    padding: 3px 10px;
}

textarea {
    padding: 10px;
}

textarea,
.field-while {
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background: #fff;
    border-radius: 20px;
    position: relative;
}

.field-while {
    display: block;
    border-top: 1px solid #bababa;
    padding: 3px;
    height: 27px;
    outline: none;
}

.field-while label {
    color: #f7005d;
    display: block;
    float: left;
    font: 800 13px/28px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    min-width: 60px;
    margin: 0 3px;
    text-align: right;
}

.field-while input[type=text],
.field-while input[type=email],
.field-while input[type=password] {
    background: none;
    border: none;
    outline: none;
    padding: 5px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/* Style Autocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    -webkit-text-fill-color: #333 !important;
    color: #000 !important;
}

p.field {
    margin-bottom: 5px;
}

.change-password {
    -khtml-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
    position: absolute;
    right: 2px;
    top: 7px;
}

.change-password.active {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.placeholder {
    color: #999;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

label.lab {
    color: #686868;
    position: relative;
    top: 3px;
    font-style: normal;
    padding-right: 15px;
}

.captcha-wrap {
    position: relative;
}

.captcha-wrap > span {
    float: left;
    margin-top: 4px;
}

.captcha-wrap .field-while {
    margin-left: 110px;
    position: absolute;
    top: 0;
}

.while-checkbox {
    background: transparent url(../images/while-checkbox.png) no-repeat !important;
    border-radius: none !important;
    border: none !important;
    box-shadow: none !important;
    height: 17px !important;
    width: 17px !important;
    margin-right: 5px;
}

.while-checkbox.checked {
    background-position: 0 -17px !important;
}

.while-checkbox div {
    display: none !important;
}

.right-checkbox-txt {
    font: 14px/14px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #686868;
}

.right-btn-txt {
    font: 12px/12px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin-left: 12px;
    color: #686868;
}

/* tzCheckBox
-----------------------------------------------------------------------------*/

.tzCheckBox {
    background: url('../images/tzCheckBox.png') no-repeat -244px -26px;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    margin-left: 14px;
    min-width: 40px;
    position: relative;
    white-space: nowrap;
}

.tzCheckBox.checked {
    background-position: 0 -3px;
    margin: 0 14px 0 0;
}

.tzCheckBox .tzCBContent {
    color: #000;
    color: red;
    font-size: 11px;
    font-weight: normal;
    left: -8px;
    line-height: 3px;
    position: relative;
    text-align: right;
    top: 4px;
    z-index: 99;
}

.tzCheckBox.checked .tzCBContent {
    /*padding:0 0 0 38px;*/
    text-align: left;
    left: 26px;
    color: green;
}

.tzCBPart {
    background: url('../images/tzCheckBox.png') no-repeat 0 -26px;
    height: 22px;
    left: -14px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 14px;
}

.tzCheckBox.checked .tzCBPart {
    background-position: -270px -3px;
    left: auto;
    right: -14px;
}

/* Middle
-----------------------------------------------------------------------------*/
#content {
    padding: 0 30px 30px;
    width: 980px;
}

.top-block {
    font: 15px/15px Calibri;
    line-height: 35px;
    margin: 20px 0 0;
    position: relative;
}

.top-block .link-block {
    float: right;
}

.stats-container {
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: transparent url(../images/bg-stats.png) repeat;
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
    border-radius: 5px;
    float: left;
    list-style: none;
    padding: 8px 10px;
    width: 450px;
}

.stats-container li {
    float: left;
    line-height: 19px;
    margin-right: 10px;
}

.stats-container .count {
    color: #006792;
}

.icon {
    background: transparent url(../images/sprite.png) no-repeat;
    display: block;
    float: left;
    height: 20px;
    width: 31px;
}

.icon.up {
    background-position: 0 -101px;
}

.icon.ok {
    background-position: 0 -169px;
}

.icon.eye {
    background-position: 0 -192px;
}

.icon.lock {
    background-position: 0 -331px;
}

.icon.user {
    background-position: 0 -379px;
}

.icon.edit {
    background-position: 0 -122px;
    float: left;
}

.icon.email {
    background-position: 0 -143px;
    float: left;
}

.icon.purse {
    background-position: 0 -262px;
}

.icon.coins {
    background-position: 0 -58px;
}

.icon.people {
    background-position: 0 -82px;
}

.icon.static {
    background-position: 0 -213px;
}

.icon.delete {
    background-position: 0 -449px;
}

.icon.update {
    background-position: 0 -425px;
}

.icon.message {
    background-position: 0 -238px;
}

.icon.user-red {
    background-position: 0 -401px;
}

.icon.moderation {
    background-position: 0 -285px;
}

.icon.lock-black {
    background-position: 0 -356px;
}

.icon.message-green {
    background-position: 0 -308px;
}

.icon.open-message {
    background-position: 0 -470px;
}

.add-resource,
.withdraw-funds {
    background: transparent url(../images/sprite.png) no-repeat;
    margin: 0 5px;
    padding: 9px 0 9px 35px;
}

.add-resource {
    background-position: 0 7px;
    color: #358c00;
}

.withdraw-funds {
    background-position: 0 -22px;
    color: #5f2f00;
}

.edit-link,
a.email:hover {
    text-decoration: underline;
    color: #000;
}

.edit-link:hover,
a.email {
    text-decoration: none;
}

a.email {
    color: #000;
}

.project-block li.status {
    text-align: left;
    font-weight: normal;
    line-height: 21px;
    padding-bottom: 4px !important;
}

.project-block li.status.ok {
    color: #30b620;
}

.project-block li.status.moderation {
    color: #c66b00;
}

.title-inside {
    color: #575859;
    display: block;
    font: 14px/1.5em Arial;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* Projects
-----------------------------------------------------------------------------*/
.projects-container {
    margin: 0 auto;
    width: 920px;
}

.projects-wrap {
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
    border-radius: 5px;
    display: table;
    float: left;
    font: 14px/14px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 20px;
    padding: 10px;
}

.projects-wrap .project-block:first-child {
    margin-right: 20px;
}

.project-block {
    -khtml-border-radius: 5px;
    -khtml-box-shadow: 0 2px 7px rgba(0, 0, 0, .35);
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, .35);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .35);
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
    border-radius: 5px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .35);
    float: left;
    width: 190px;
}

.project-block li {
    background: #d9dedf;
    border-bottom: 1px solid #9c9fa0;
    border-top: 1px solid #ecefef;
    font-weight: 600;
    padding: 4px 13px 7px;
    position: relative;
}

.project-block li.odd {
    background: #c3c7c8;
}

.project-block li .icon {
    margin-left: -10px
}

.project-block li.title {
    -khtml-border-top-left-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -khtml-text-shadow: 0 -1px 0 #4e95b2;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-text-shadow: 0 -1px 0 #4e95b2;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-text-shadow: 0 -1px 0 #4e95b2;
    background: #6eccf5;
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
    border-bottom: 1px solid #58a4c4;
    border-right: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font: 800 15px/1em Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    line-height: 25px;
    padding: 9px 13px !important;
    text-shadow: 0 -1px 0 #4e95b2;
    text-transform: uppercase;
}

.project-block li.options,
.project-block li:last-child {
    -khtml-border-bottom-left-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.project-block li.options {
    height: 25px;
    padding: 4px 2px !important;
}

.project-block li.options .icon {
    margin-left: 2px !important;
}

.project-block li.options a {
    border-left: 1px solid #aeb2b2;
    border-right: 1px solid #ecefef;
    float: left;
    height: 22px;
    min-width: 34px;
    text-align: center;

}

.project-block li.options a:first-child {
    border-left: none;
}

.project-block li.options a:last-child {
    border-right: none;
}

.project-block .tzCheckBox {
    position: absolute;
    right: 7px;
    top: 4px;
}

.project-block .info {
    color: #575859;
    font-size: 11px;
    font-weight: normal;
    text-transform: lowercase;
}

/* Table
-----------------------------------------------------------------------------*/

table {
    border-collapse: collapse;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    height: 30px;
    margin: -30px auto 0;
    min-width: 1000px;
    position: relative;
}

/* Reveal Modals
-----------------------------------------------------------------------------*/
.reveal-modal-bg {
    background: transparent url(../images/reveal-modal-bg.png) repeat;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.reveal-modal {
    -box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    border-radius: 5px;
    padding: 15px;
    min-height: 200px;
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
}

.modalBlue {
    background: #6dcdf5;
}

.modalGreen {
    background: #87c301;
}

.modalOrange {
    background: #f7941d;
}

.modalPurple {
    background: #8393ca;
}

.modalBlue,
.modalGreen,
.modalPurple {
    color: #fff;
}

.reveal-modal.small {
    width: 200px;
    margin-left: -140px;
}

.reveal-modal.medium {
    width: 400px;
    margin-left: -240px;
}

.reveal-modal.large {
    width: 600px;
    margin-left: -340px;
}

.reveal-modal.xlarge {
    width: 800px;
    margin-left: -440px;
}

.reveal-modal .close-reveal-modal {
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    line-height: .5;
    position: absolute;
    right: 17px;
    text-decoration: none;
    text-shadow: 0 -1px 1px rbga(0, 0, 0, .6);
    top: 18px;
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
}

.modal-content .title {
    font: 18px/29px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    -khtml-text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
}

.icon-options,
.icon-add,
.icon-user {
    background: transparent url(../images/icon-modal.png) no-repeat;
}

.icon-options {
    background-position: 0 4px;
    padding-left: 29px;
}

.icon-add {
    background-position: 0 -23px;
    padding-left: 32px;
}

.icon-user {
    background-position: -6px -55px;
    padding-left: 22px;
}

.txt-descr {
    font: 13px/15px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 15px 15px 0;
}

.modal-form {
    margin: 15px 0 0;
}

.modal-form .table-form {
    margin: 10px;
    width: 430px;
}

.modal-form .table-form .label {
    font: 12px/13px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-transform: uppercase;
    color: #000;
    height: 34px;
}

.modal-form .table-form input[type=text],
.modal-form .table-form input[type=password] {
    width: 280px;
}

.modal-form .table-form td {
    vertical-align: middle;
    padding: 5px;
    position: relative;
}

.modal-form .submits {
    padding-top: 10px !important;
}

.result-modal,
.project-name {
    -khtml-text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
    display: table-cell;
    font: 16px/16px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    vertical-align: middle;
}

.result-modal {
    height: 200px;
    padding-bottom: 20px;
    width: 450px;
}

.projects-block {
    width: 100%;
    margin-left: -10px;
}

.projects-block li {
    float: left;
    margin: 0 10px;
}

.project-title {
    font: 10px/10px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #000;
}

.client-block-modal {
    position: relative;
    margin: 5px 0 -5px;
}

.client-block-modal .avatar {
    float: left;
}

.client-block-modal .client-info {
    font: 800 13px/13px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin-left: 53px;
    position: relative;
    top: -2px;
}

.client-block-modal .client-info .label,
.client-block-modal .client-info .date {
    font-weight: 400;
}

.validate {
    background: transparent url(../images/validate-icon.png) no-repeat;
    display: block;
    width: 20px;
    height: 20px;
}

.validate.error {
    background-position: 0 -19px;
}

.table-form .change-password {
    top: 12px;
    right: 8px;
}

.w680 {
    width: 680px;
}

/* Tab
-----------------------------------------------------------------------------*/

.tabs .data-tab,
.tabs .nav-tab .active {
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: rgba(255, 255, 255, .4);
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
    border-radius: 5px;
    padding-top: 3px;
}

/* white background tabs */
.tabs.white .data-tab,
.tabs.white .nav-tab .active {
    background: rgb(255, 255, 255) !important;
}

.data-tab {
    display: none;
    padding: 5px;
}

div[data-tab='1'],
div[data-tab='1'] .ticket-list li.allocated:first-child {
    -khtml-border-top-left-radius: 0 !important;
    -moz-border-top-left-radius: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
    border-top-left-radius: 0 !important;
}

.tabs .nav-tab a {
    color: #fff;
    font: 12px/20px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    vertical-align: middle;
    padding: 4px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.tabs .nav-tab .active {
    -khtml-border-bottom-left-radius: 0;
    -khtml-border-bottom-right-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    background: rgba(255, 255, 255, .4);
    behavior: url(/bundles/partnerfrontend/css/PIE.htc);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #333;
}

.tabs .nav-tab-item.error {
    color: red;
}

.modal-form .tabs {
    margin-bottom: 10px;
}

/* Tabl list
-----------------------------------------------------------------------------*/

.ticket-list {
    margin: -3px -5px;
}

.ticket-list li {
    border-bottom: 1px solid #ccc;
    display: table;
    font: 12px/14px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    height: 55px;
    width: 100%;
    position: relative;
}

/* Ð”Ð»Ñ IE < 8 .end-ticket-list */
.ticket-list li:last-child,
.end-ticket-list {
    border-bottom: none;
}

.ticket-list li.allocated {
    background: #e9f4e6;
}

.ticket-list li.allocated:first-child {
    -khtml-border-top-left-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    behavior: url(/css/PIE.htc);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ticket-item {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

.icon.middle {
    float: left;
    margin: 3px 10px 0;
}

.icon.w22 {
    width: 22px;
}

.icon.w28 {
    width: 28px;
}

.ticket-txt {
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 515px;
}

.ticket-info {
    width: 515px;
    overflow: hidden;
}

.ticket-info span {
    display: block;
    float: left;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ticket-info .identifier {
    color: #dd0053;
    font-weight: 800;
}

.ticket-info .date {
    color: #dd0053;
    width: 95px;
}

.ticket-info .cell {
    color: #1384be;
    font-weight: 800;
    margin-right: 2px !important;
    text-transform: uppercase;
}

.ticket-info .cell-txt {
    color: #000;
    font-weight: 800;
    width: 135px;
}

.right-block-ticket {
    border-left: 1px solid #ccc;
    padding: 2px 0 2px 10px;
    position: absolute;
    right: 10px;
    top: 17px;
    width: 83px;
}

.ticket-filter {
    text-align: right;
    position: absolute;
    right: 20px;
}

.ticket-filter a {
    color: #516091;
    font: 800 12px/16px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0 3px;
    text-decoration: none;
    text-transform: uppercase;
}

.ticket-filter a.active {
    color: #001046;
}

.ticket-filter a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Ð”Ð»Ñ Ð¿ÐµÑ€ÐµÐ¿Ð¸ÑÐºÐ¸ */

.ticket-message-title {
    font: 800 12px/14px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    padding: 5px;
    text-transform: uppercase;
}

.ticket-messages-inside {
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: rgb(255, 255, 255);
    behavior: url(/css/PIE.htc);
    border-radius: 5px;
    color: #000;
    font: 12px/14px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin-bottom: 15px;
    padding-top: 3px;
}

.ticket-messages-info {
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px 15px;
    width: 100%;
    position: relative;
}

.right-block-messages {
    top: 5px;
    width: auto !important;
}

.ticket-message {
    background: #e6e9f4;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: table;
    min-height: 45px;
    padding: 10px 25px 10px 0;
    width: 100%;
}

.ticket-message-txt {
    /*display: table-cell;
    vertical-align: middle;*/
    margin: 10px 20px 0 50px;
}

.ticket-message-list {
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 250px;
    overflow: hidden;
    width: 100%;
}

.ticket-message-item {
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*display: table;*/
    min-height: 40px;
    width: 100%;
}

.ticket-message-item.new-ticket {
    background: #e9f4e6;
}

.ticket-message-item .date {
    color: #dd0053;
    display: block;
    font: 8px/10px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin-left: 51px;
    margin-bottom: 10px;
}

.txtar-grey {
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #d8d8d8;
    behavior: url(/css/PIE.htc);
    border-radius: 10px;
    float: left;
    margin: 10px 0 8px;
    width: 480px !important;
    height: 27px;
    padding: 5px;
}

.ticket-feild {
    position: relative;
}

.ticket-send {
    bottom: 10px;
    position: absolute;
    right: 13px;
}

.ticket-feild .icon.user.position {
    -khtml-opacity: .3;
    -moz-opacity: .3;
    margin: 18px 10px;
    opacity: .3;
}

.w450 {
    width: 450px;
}

.h503 {
    height: 503px;
}

.h440 {
    height: 440px;
}

.hidden {
    display: none;
}

.ticket-sort a {
    color: #000000;
}

.error-block, .content-block {
    text-align: center;
}