{% extends sonata_block.templates.block_base %}

{% block block %}
    <h3 class="sonata-feed-title">Токен для Bottlegame Api</h3>

    <div class="sonata-feeds-container">
        {% if last_token_refresh %}
            <div>Последний раз токен обновлялся <span style="font-weight: bold;">{{ last_token_refresh }}</span> секунд
                назад.
            </div>
        {% else %}
            <a href="{{ path('partner_bottlegame_api_login') }}">Получить токен</a>
        {% endif %}
    </div>
{% endblock %}