<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% block title %}
        <title>Партнерская программа Bottlegame.ru</title>
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/partneruser/css/common.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/partneruser/css/login.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/partneruser/css/jquery-ui-1.10.0.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/partneruser/css/jquery.jgrowl.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block favicon %}
        <link rel="shortcut icon" href="{{ asset('bundles/partneruser/images/favicon.ico') }}">
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/partneruser/js/jquery/jquery-1.9.0.js') }}"></script>
        <script type="text/javascript"
                src="{{ asset('bundles/partneruser/js/jquery/jquery-ui-1.10.0.min.js') }}"></script>
        <script type="text/javascript"
                src="{{ asset('bundles/partneruser/js/plugins/jquery.infieldlabel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/partneruser/js/plugins/jquery.jgrowl.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/partneruser/js/utils/utils.js') }}"></script>
        <script lang="javascript">
            var js_lang = eval({"login_form_title": "\u0432\u0445\u043e\u0434", "register_form_title": "\u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u044f", "err_login": "\u041f\u043e\u043b\u0435 \u043b\u043e\u0433\u0438\u043d \u043d\u0435 \u0434\u043e\u043b\u0436\u043d\u043e \u0431\u044b\u0442\u044c \u043f\u0443\u0441\u0442\u044b\u043c \u0438 \u0434\u043e\u043b\u0436\u043d\u043e \u0441\u043e\u0434\u0435\u0440\u0436\u0430\u0442\u044c \u0432\u0430\u0448 email \u0430\u0434\u0440\u0435\u0441", "err_password": "\u041f\u043e\u043b\u0435 \u043f\u0430\u0440\u043e\u043b\u044c \u043d\u0435 \u0434\u043e\u043b\u0436\u043d\u043e \u0431\u044b\u0442\u044c \u043f\u0443\u0441\u0442\u044b\u043c", "err_site_name": "\u041f\u043e\u043b\u0435 \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0441\u0430\u0439\u0442\u0430 \u043d\u0435 \u0434\u043e\u043b\u0436\u043d\u043e \u0431\u044b\u0442\u044c \u043f\u0443\u0441\u0442\u044b\u043c \u0438 \u0434\u043e\u043b\u0436\u043d\u043e \u0441\u043e\u0434\u0435\u0440\u0436\u0430\u0442\u044c \u0442\u043e\u043b\u044c\u043a\u043e \u0431\u0443\u043a\u0432\u044b \u0438 \u0446\u0438\u0444\u0440\u044b", "err_site_visits": "\u041f\u043e\u043b\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0443\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0445 \u043f\u043e\u0441\u0435\u0442\u0438\u0442\u0435\u043b\u0435\u0439 \u043d\u0435 \u0434\u043e\u043b\u0436\u043d\u043e \u0431\u044b\u0442\u044c \u043f\u0443\u0441\u0442\u044b\u043c \u0438 \u0434\u043e\u043b\u0436\u043d\u043e \u0441\u043e\u0434\u0435\u0440\u0436\u0430\u0442\u044c \u0442\u043e\u043b\u044c\u043a\u043e \u0446\u0438\u0444\u0440\u044b", "err_site_url": "\u0423\u043a\u0430\u0436\u0438\u0442\u0435 \u043f\u0440\u0430\u0432\u0438\u043b\u044c\u043d\u043e \u0430\u0434\u0440\u0435\u0441 \u0441\u0430\u0439\u0442\u0430", "err_p_type": "\u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430 \u0432\u044b\u0431\u0435\u0440\u0438\u0442\u0435 \u043c\u0435\u0436\u0434\u0443 \u0447\u0430\u0441\u0442\u043d\u044b\u043c \u043b\u0438\u0446\u043e\u043c \u0438\u043b\u0438 \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0435\u0439", "err_person": "\u041f\u043e\u043b\u0435 \u0438\u043c\u044f \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u043e\u0433\u043e \u043b\u0438\u0446\u0430 \u043d\u0435 \u0434\u043e\u043b\u0436\u043d\u043e \u0431\u044b\u0442\u044c \u043f\u0443\u0441\u0442\u044b\u043c \u0438 \u0434\u043e\u043b\u0436\u043d\u043e \u0431\u044b\u0442\u044c \u0437\u0430\u043f\u043e\u043b\u043d\u0435\u043d\u043e \u043a\u043e\u0440\u0440\u0435\u043a\u0442\u043d\u043e", "err_phone": "\u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430 \u0443\u043a\u0430\u0436\u0438\u0442\u0435 \u0432\u0430\u0448 \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u044b\u0439 \u0442\u0435\u043b\u0435\u0444\u043e\u043d, \u043d\u0430\u043f\u0440\u0438\u043c\u0435\u0440: +7 915 823 34 43", "err_mail": "\u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430 \u0443\u043a\u0430\u0436\u0438\u0442\u0435 \u0432\u0430\u0448 e-mail", "err_mail_exists": "\u0422\u0430\u043a\u043e\u0439 email \u0443\u0436\u0435 \u0435\u0441\u0442\u044c \u0432 \u0431\u0430\u0437\u0435 \u0434\u0430\u043d\u043d\u044b\u0445, \u0443\u043a\u0430\u0436\u0438\u0442\u0435 \u0434\u0440\u0443\u0433\u043e\u0439 \u043f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430 \u0438\u043b\u0438 \u0432\u043e\u0441\u0441\u0442\u0430\u043d\u043e\u0432\u0438\u0442\u0435 \u0447\u0435\u0440\u0435\u0437 \u0441\u0438\u0441\u0442\u0435\u043c\u0443 \u0432\u043e\u0441\u0441\u0442\u0430\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f \u043f\u0430\u0440\u043e\u043b\u044f", "err_skype": "\u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430 \u0443\u043a\u0430\u0436\u0438\u0442\u0435 \u0432\u0430\u0448 Skype ID", "err_comment": "\u0423\u043a\u0430\u0436\u0438\u0442\u0435 \u043f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430 \u0431\u043e\u043b\u044c\u0448\u0435 \u0447\u0435\u043c 20 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432", "err_agree": " \u041d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u043e \u0441\u043e\u0433\u043b\u0430\u0441\u0438\u0442\u044c\u0441\u044f \u0441 \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u043e\u043c \u043e\u0444\u0435\u0440\u0442\u044b, \u0447\u0442\u043e\u0431\u044b \u043f\u0440\u043e\u0434\u043e\u043b\u0436\u0438\u0442\u044c", "err_captcha": "\u0423\u043a\u0430\u0436\u0438\u0442\u0435 \u043f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430 \u0446\u0438\u0444\u0440\u044b \u043d\u0430 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0435", "err_captcha_wrong": "\u0423\u043a\u0430\u0436\u0438\u0442\u0435 \u043f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430 \u043f\u0440\u0430\u0432\u0438\u043b\u044c\u043d\u043e \u0446\u0438\u0444\u0440\u044b \u043d\u0430 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0435", "err_email": "\u0423\u043a\u0430\u0436\u0438\u0442\u0435 \u043f\u0440\u0430\u0432\u0438\u043b\u044c\u043d\u043e \u0432\u0430\u0448 email"});
        </script>
    {% endblock %}
</head>
<body style="zoom: 1;">
{% block header %}
    <div id="header">
        <div id="logo"></div>
    </div>
{% endblock %}
<!-- eof of #header -->

{% block content %}
{% endblock %}
<!-- eof of #content -->

{% block footer %}
{% endblock %}
</body>
</html>