{% block form_widget_simple %}
    {% spaceless %}
        <p>
            {{ form_label(form) }}
            {% set type = type|default('text') %}
            <input type="{{ type }}" name="{{ full_name }}" class="form_element ui-corner-all"
                   {% if value is not empty %}value="{{ value }}" {% endif %}/>
        </p>
    {% endspaceless %}
{% endblock %}

{% block _partner_user_registration_login_widget %}
    <p>
        {{ form_label(form) }}
        <br>
        <input id="{{ id }}" name="{{ full_name }}" class="form_element ui-corner-all" type="text"
               {% if value is not empty %}value="{{ value }}" {% endif %}>
    </p>
{% endblock %}

{% block _partner_user_registration_password_widget %}
    <p>
        {{ form_label(form) }}
        <br>
        <input id="{{ id }}" name="{{ full_name }}" class="form_element ui-corner-all" type="password" value="">
    </p>
{% endblock %}

{% block _partner_user_registration_type_widget %}
    <div id="p_type" class="ui-buttonset">
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    </div>
{% endblock %}

{% block _partner_user_registration_agree_widget %}
    <div class="agreement">
        <input type="checkbox" name="{{ full_name }}" id="{{ id }}"
               value="{{ value }}" {% if checked %} checked="checked"{% endif %}>
        <a href="/offerta/" target="_blank"> Я согласен с договором публичной оферты</a>
    </div>
{% endblock %}

{% block radio_widget %}
    <input type="radio" id="{{ id }}" name="{{ full_name }}" value="{{ value }}"
           class="ui-helper-hidden-accessible" {% if checked %} checked="checked"{% endif %}>
    <label for="{{ id }}" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left" role="button"
           aria-disabled="false">
        <span class="ui-button-text">{{ label }}</span>
    </label>
{% endblock %}

{% block _partner_user_registration_comment_widget %}
    <p>
        <label for="{{ id }}">{{ label }}</label>
        <textarea id="{{ id }}" class="form_element ui-corner-all" type="text"
                  name="{{ full_name }}">{{ value }}</textarea>
    </p>
{% endblock %}

{% block captcha_widget %}
    <div class="captcha">
        <p>
            <label for="{{ id }}">{{ label }}</label>
            <input id="{{ id }}" name="{{ full_name }}" class="form_element ui-corner-all captcha_input" type="text"
                   maxlength="5">
        </p>
        <img class="captcha_img" height="{{ captcha_height }}" width="{{ captcha_width }}" src="{{ captcha_code }}">

        <div class="clear"></div>
    </div>
{% endblock %}

{% block form_label %}
    <label for="{{ id }}" style="opacity: 1;">{{ label }}</label>
{% endblock %}