{% block captcha_widget %}
    <div class="captcha">
        <p>
            <label for="{{ id }}">{{ label }}</label>
            <input id="{{ id }}" name="{{ full_name }}" class="form_element ui-corner-all captcha_input" type="text"
                   maxlength="5">
        </p>
        <img class="captcha_img" height="{{ captcha_height }}" width="{{ captcha_width }}" src="{{ captcha_code }}">

        <div class="clear"></div>
    </div>
{% endblock %}
