{% block _partner_user_registration_type_widget %}
    <div style="margin-left: 10px;" {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {{ form_widget(child, {'attr': {'class': 'styler'} } ) }}
            {{ form_label(child, label|default(null), { 'label_attr': {'class': 'lab'} }) }}
        {% endfor %}
    </div>
{% endblock %}
