{% extends "FOSUserBundle::layout.html.twig" %}

{% block errors %}
    {% if invalid_username is defined %}
        {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'PartnerUserBundle') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="form-block">
        <form method="POST" action="{{ path('fos_user_resetting_send_email') }}" class="resetting-from">
            <p class="field">
        <span class="field-while clear">
            <label>{{ 'resetting.request.username'|trans({}, 'PartnerUserBundle') }}</label>
            <input id="username" type="text" name="username" required="required">
        </span>
            </p>

            <p class="field" align="center">
                <button type="submit" class="red button">Напомнить</button>
                <br> Для восстановления пароля укажите, пожалуйста, имя пользователя или адрес электронной почты,
                указаннные вами при регистрации
                <br> Дождитесь от нас письма с инструкцией и следуйте указаниям
                <br>
                <a href="{{ path('partner_frontend_homepage') }}">Отмена</a>
            </p>
        </form>
    </div>
{% endblock %}

{% block pagetitle %}
    Восстановление пароля
{% endblock %}