{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    <div class="form-block">
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST"
              class="fos_user_resetting_reset">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}"/>
            </div>
        </form>
    </div>
{% endblock %}

{% block errors %}
    {{ form_errors(form) }}
{% endblock %}

{% block pagetitle %}
    Установите новый пароль
{% endblock %}