{% extends "PartnerFrontendBundle::app_layout.html.twig" %}

{% block content %}
    <div id="content" class="w1000">
        <div class="top-block clear">
            <ul class="stats-container clear">
                <li>ОБЩАЯ СТАТИСТИКА</li>
                <li>Проектов: <span class="count">{{ sites.count }}</span></li>
                <li><i class="icon people"></i>: 0</li>
                <li><i class="icon coins"></i>: 0</li>
            </ul>
            <div class="link-block">
                <a href="{{ path('partner_frontend_site_newform') }}" class="add-resource" id="js_site_add">Добавить
                    сайт</a>
                {#<a href="#" class="withdraw-funds" data-modal="modalGreen" data-modal-content-id="01">Вывести средства</a>#}
            </div>
        </div>
        <!--top-block-->
        <ul id="site_collection" class="projects-container">
        </ul>
    </div>
{% endblock content %}