{% twig_js name="site_form" %}
<div class="modal-content">
    <div class="title icon-add">
        {% if isNew %}добавить сайт{% else %}редактировать сайт{% endif %}
    </div>
    {% if isNew %}
        <p class="txt-descr">Для того чтобы добавить новый проект заполните все необходимые поля. После проверки
            модератором ваш ресурс будет добавлен в проекты и появится на вашей странице.</p>
    {% endif %}
    <div id="site_form">
    </div>
    <button id="submit_button" class="blue button">
        <span>Сохранить</span>
    </button>
</div>
<a class="close-reveal-modal">×</a>