{% twig_js name="site_list_block" %}

<ul class="project-block site">
    <li class="title odd">{{ site.name }}</li>
    <li class="status {{ site.status }}">
        {% if site.status != 'new' %}
        <i class="icon {{ site.status }}"></i>{{ site.status }}
        {% else %}
            <a href="#" class="js_to_moderate moderate">Отправить на модерацию</a>
        {% endif %}
    </li>
    <li class="odd"><i class="icon email"></i><span class="title-inside">url</span><a href="{{ site.link }}"
                                                                                      target="_blank"
                                                                                      class="email">{{ site.link }}</a>
    </li>
    <li><i class="icon coins"></i><span class="title-inside">Баланс</span>0</li>
    <li class="odd"><i class="icon people"></i><span class="title-inside">Посетители</span>{{ site.visits }}</li>
    <li class="options clear">
        <a href="{{ path('partner_frontend_site_editform', {id: site.id}) }}" title="Редактировать"><i
                    class="icon clear email"></i></a>
        <a href="#" title="Средства"><i class="icon clear purse"></i></a>
        <a href="#" title="Обновить данные" class="js_reload"><i class="icon clear up"></i></a>
        <a href="#" title="Статистика"><i class="icon clear static"></i></a>
        <a href="#" title="Сообщения"><i class="icon clear message"></i></a>
    </li>
</ul>
<ul class="project-block siteapps">
    <li class="title odd">Приложения</li>
</ul>