{% twig_js name="support" %}
<div class="modal-content">
    <div class="title icon-user drag-handle">Поддержка</div>
    <div class="ticket-sort">
        <a href="#" data-sort="date">По дате</a>
        <a href="#" data-sort="subject">По теме</a>
        <a href="#" data-sort="status">По статусу</a>
        {#<a href="#" data-sort="site">По проекту</a>#}
    </div>
    <div class="tabs white h440">
        <div class="nav-tab">
            <a href="#" data-filter="open">Текущие тикеты</a>
            <a href="#" data-filter="closed">Архив</a>
        </div>
        <div class="data-tab" style="display: block;">
            <ul class="ticket-list"></ul>
        </div>
        <!-- tab 2 -->
    </div>
    <!-- tabs -->
    <a href="{{ path('partner_frontend_ticket_newform') }}">
        <button class="green button">
            <span>Новый тикет</span>
        </button>
    </a>
</div>
<a class="close-reveal-modal">×</a>