{% twig_js name="ticket_form" %}
<div class="modal-content">
    <div class="title icon-options">Новый тикет</div>
    <div id="ticket_form"></div>
    <button class="green button" id="submit_button">
        <span>Создать</span>
    </button>
</div>
<a class="close-reveal-modal">×</a>
