{% twig_js name="history_item" %}
<i class="icon middle user"></i>
<div class="ticket-message-txt">
    {{ history.message }}
</div>
<span class="date">{{ history.created_at | date('d M h:i') }}</span>
