{% twig_js name="ticket_list_row" %}
<div class="ticket-item clear">
    <i class="icon middle message-green"></i>

    <div class="ticket-info">
        <span class="identifier">{{ ticket.id }}</span>
        <span class="date">{{ ticket.updated_at|date('d/m/Y H:i') }}</span>
        <span class="cell">Тема:</span>
        <span class="cell-txt">{{ ticket.subject.title }}</span>
        {% if ticket.site is not empty %}
            <span class="cell">Проект:</span>
            <span class="cell-txt">{{ ticket.site.name }}</span>
        {% endif %}
    </div>
    <!-- ticket-info -->
    <div class="ticket-txt">{{ ticket.description }}</div>
    <div class="right-block-ticket actions">
        <a href="{{ path('partner_frontend_ticket_get', {id: ticket.id}) }}"><i class="icon open-message"></i></a>
        {% if ticket.status == 'closed' %}
            <a href="#"><i class="icon js_reopen update w22"></i></a>
            <a href="#"><i class="icon js_delete delete w28"></i></a>
        {% else %}
            <a href="#"><i class="icon js_close lock-black w22"></i></a>
        {% endif %}
    </div>
</div><!-- ticket-item -->