{% twig_js name="ticket" %}
<div class="title icon-user drag-handle">Поддержка</div>
<div class="ticket-message-title">Тикет {{ ticket.id }}</div>
<div class="ticket-messages-inside">
    <div class="ticket-info ticket-messages-info clear">
        <span class="cell">Тема:</span>
        <span class="cell-txt">{{ subject.title }}</span>
        {% if site.name is defined %}
            <span class="cell">Проект:</span>
            <span class="cell-txt">{{ site.name }}</span>
        {% endif %}

        <div class="right-block-ticket right-block-messages actions">
            {% if ticket.status == 'closed' %}
                <a href="#"><i class="icon js_reopen update w22"></i></a>
                <a href="#"><i class="icon js_delete delete w28"></i></a>
            {% else %}
                <a href="#"><i class="icon js_close lock-black w22"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="ticket-message">
        <i class="icon middle user"></i>

        <div class="ticket-message-txt1">
            {{ ticket.description }}
        </div>
    </div>
    <ul id="history_list" class="ticket-message-list scroll"></ul>
    <div id="message" class="ticket-feild clear {% if ticket.status == 'closed' %}hidden{% endif %}">
        <i class="icon middle user position"></i>
        <textarea name="message" class="txtar-grey" id="message-txt"></textarea>
        <button class="green button ticket-send"><span>Ответить</span></button>
    </div>

</div><!-- ticket-messages-inside -->
{% if ticket.status == 'closed' %}
    <button class="green button js_reopen"><span>Открыть заново</span></button>
{% else %}
    <button class="blue button js_close"><span>Проблема решена!</span></button>
{% endif %}
<a class="close-reveal-modal">×</a>
