{% twig_js name="user_profile" %}
<div class="modal-content">
    <div class="title icon-user">Мои данные</div>
    <div class="client-block-modal clear">
        {#            <img src="./images/avatar.jpg" class="avatar" alt="Иванов Николай">#}
    </div>
    <div id="user_form"></div>
    <button id="submit_button" class="blue button"><span>Сохранить</span></button>
</div>
<a class="close-reveal-modal">×</a>
