{% extends "PartnerFrontendBundle::base_layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/partnerfrontend/css/jquery.formstyler.css') }}" type="text/css"
          media="screen, projection"/>
    <link rel="stylesheet" href="{{ asset('bundles/partnerfrontend/css/backbone.notifications.css') }}" type="text/css"
          media="screen, projection"/>
    <link rel="stylesheet" href="{{ asset('bundles/partnerfrontend/css/jquery.mCustomScrollbar.css') }}" type="text/css"
          media="screen, projection"/>
{% endblock %}

{% block javascripts %}
    {% javascripts "../vendor/jms/twig-js/twig.js"
    "@FOSJsRoutingBundle/Resources/public/js/router.js"
    "@PartnerFrontendBundle/Resources/public/js/lib/twig/extensions.js"
    "@PartnerFrontendBundle/Resources/public/js/lib/twig/date.js" %}
    <script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script data-main="{{ asset('bundles/partnerfrontend/js/main.js') }}"
            src="{{ asset('bundles/partnerfrontend/js/lib/require.js') }}"></script>
    {% javascripts "@PartnerFrontendBundle/Resources/views/Site/list.twig"
    "@PartnerFrontendBundle/Resources/views/Siteapp/list.twig"
    "@PartnerFrontendBundle/Resources/views/Siteapp/apiurl.twig"
    "@PartnerFrontendBundle/Resources/views/SiteappSettings/edit.twig"
    "@PartnerFrontendBundle/Resources/views/Site/form.twig"
    "@PartnerFrontendBundle/Resources/views/User/profile.twig"
    "@PartnerFrontendBundle/Resources/views/Ticket/all.twig"
    "@PartnerFrontendBundle/Resources/views/Ticket/list.twig"
    "@PartnerFrontendBundle/Resources/views/Ticket/form.twig"
    "@PartnerFrontendBundle/Resources/views/Ticket/ticket.twig"
    "@PartnerFrontendBundle/Resources/views/Ticket/history.item.twig"
    filter="twig_js" %}
    <script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block wrapper %}
    {% block header %}
        <header id="header">
            <div class="header-content">
                <div class="w1000">
                    <a href="{{ path('partner_frontend_homepage') }}" class="bottlegame-logo">Вottlegame</a>
                    {% block userinfo %}
                        <div class="client-block clear">
                            {% if is_granted("ROLE_USER") %}
                                <img class="avatar" alt="{{ app.user.fullname }}">
                                <ul class="client-info">
                                    {% if app.user.firstname is not empty or app.user.lastname is not empty %}
                                        <li class="name">{{ app.user.firstname }}</li>
                                        <li class="name">{{ app.user.lastname }}</li>
                                    {% else %}
                                        <li class="name">{{ app.user.username }}</li>
                                    {% endif %}
                                    <li class="label">последний визит</li>
                                    <li class="date">{{ app.user.lastLogin | date('d-m-Y h:i') }}</li>
                                </ul>
                            {% endif %}
                        </div><!--client-block-->
                    {% endblock userinfo %}
                    {{ knp_menu_render('PartnerFrontendBundle:Builder:mainMenu') }}
                </div>
            </div>
        </header>
    {% endblock header %}

    {% block content %}

    {% endblock content %}
{% endblock wrapper %}

{% block footer %}
    <footer id="footer">
        <div class="w1000"></div>
    </footer>
{% endblock %}