<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block metatags %}
        <meta charset="utf-8"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
    {% endblock %}

    <title>
        {% block title %}{% endblock %}
    </title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/partnerfrontend/css/style.css') }}" type="text/css"
              media="screen, projection"/>
        <!--[if lte IE 6]>
        <link rel="stylesheet" href="{{ asset('bundles/partnerfrontend/css/style_ie.css')}}" type="text/css"
              media="screen, projection"/><![endif]-->
    {% endblock %}
    {#% block favicon %}
            <link rel="shortcut icon" href="{{ asset('bundles/partnerfrontend/images/favicon.ico') }}">
    {% endblock %#}
    {% block javascripts %}
        {% javascripts "@PartnerFrontendBundle/Resources/public/js/lib/jquery/jquery-1.10.2.min.js" %}
        <script language="javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>
<div id="wrapper">
    {% block wrapper %}
    {% endblock wrapper %}
</div>
{% block footer %}
{% endblock %}
</body>
</html>