<th>
    {% block name %}
        {{ admin.trans(field_description.label) }}
    {% endblock %}
</th>
<td>
    {% block field %}
        {{ field_description.options.setting.label }}
    {% endblock %}
</td>