{% twig_js name="siteapp_apiurl" %}
<div class="modal-content">
    <div class="title icon-options drag-handle">Код для вставки на сайт</div>
    <div>
        {% if data.apiurl is not empty %}
            {{ data.apiurl }}
        {% else %}
            ссылки пока нет
        {% endif %}
    </div>
</div>
<a class="close-reveal-modal">×</a>