{% twig_js name="siteapp_list_row" %}
<a href="{{ path('partner_frontend_siteapp_editform', {site_id: site.id, id: siteapp.id}) }}"><i class="icon edit"></i></a>
<span class="title-inside">{{ siteapp.app.name }}</span>
{#<input type="checkbox" class="tz" name="project[]" style="display: none;"><span class="tzCheckBox "><span class="tzCBContent">Выкл</span><span class="tzCBPart"></span></span>#}
{#<span class="info">Последнее обновление: {{ siteapp.updated_at | date('d M h:i') }}</span>#}
<span class="info"><a href="{{ path('partner_frontend_siteapp_geturl', {site_id: site.id, id: siteapp.id}) }}">Получить
        ссылку</a></span>
