{% extends "PartnerUserBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/partneruser/js/login.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="content">
        {% form_theme registration_form 'PartnerUserBundle:Form:User/fields.html.twig' %}

        <div id="welcome_text">Вход</div>
        <div id="login_form">
            <div id="content" class="ui-corner-all ui-widget">

                <div id="lt_col">
                    <div class="login">
                        <form method="POST" action="{{ path('fos_user_security_check') }}">
                            <fieldset>
                                <p>
                                    <label for="username" style="opacity: 1;">Ваш логин</label>
                                    <br>
                                    <input id="username" name="_username" class="form_element ui-corner-all"
                                           type="text" {% if last_username %} value="{{ last_username }}" {% endif %}>
                                </p>

                                <p>
                                    <label for="password" style="opacity: 1;">Ваш пароль</label>
                                    <br>
                                    <input id="password" name="_password" class="form_element ui-corner-all"
                                           type="password" value="">
                                </p>
                            </fieldset>
                            <div class="lost"><a href="{{ path('fos_user_resetting_request') }}">черт, я забыл пароль
                                    ;(</a></div>
                            <input type="submit" id="btn_login"
                                   class="ui-button-text form_element ui-button ui-widget ui-state-default ui-corner-all"
                                   value="Войти &gt;" role="button" aria-disabled="false">
                        </form>
                    </div>
                </div>
                <div id="rt_col">
                    <div class="register">
                        <p>Вы можете войти, используя свои логин и пароль</p>

                        <p>Если вы не являетесь нашим партнером, пройдите регистрацию</p>

                        <div id="btn_register"
                             class="ui-button-text form_element ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                             role="button" aria-disabled="false"><span class="ui-button-text">Регистрация &gt;</span>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div id="shadow"></div>
        </div>
        <div id="reg_form" class="hidden">
            <form id="register_form" method="POST" action="{{ path('fos_user_registration_register') }}">
                <fieldset>
                    <div id="content" class="ui-corner-all ui-widget">
                        <div id="lt_col">
                            {#{form_widget(registration_form.siteName)}}
                            {{form_widget(registration_form.siteVisits)}}
                            {{form_widget(registration_form.website)}#}
                            {{ form_widget(registration_form.username) }}
                            {{ form_widget(registration_form.email) }}
                            {{ form_widget(registration_form.plainPassword) }}
                            <p></p>
                            {{ form_widget(registration_form.type) }}
                            <p></p>
                        </div>
                        <div id="rt_col">
                            {#{form_widget(registration_form.fullname)}}
                            {{form_widget(registration_form.phone)}}
                            {{form_widget(registration_form.email)}}
                            {{form_widget(registration_form.skype)}#}
                        </div>
                        <div class="clear"></div>
                        <div id="center">
                            {{ form_widget(registration_form.comment) }}
                            {{ form_widget(registration_form.agree) }}
                            <div class="reg_panel">
                                {{ form_widget(registration_form.captcha) }}
                                {{ form_widget(registration_form._token) }}
                                <div class="buttons">
                                    <div id="btn_cancel"
                                         class="ui-button-text form_element ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                         role="button" aria-disabled="false"><span
                                                class="ui-button-text">&lt; Отмена</span></div>
                                    <input type="submit" id="btn_newticket"
                                           class="ui-button-text form_element ui-button ui-widget ui-state-default ui-corner-all"
                                           value="Отправить &gt;" role="button" aria-disabled="false">
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div id="shadow"></div>
        </div>
    </div>
{% endblock %}
