{% extends "PartnerUserBundle::layout.html.twig" %}

{% block errors %}
    {% if error is not empty %}
        <p>Неверный логин или пароль</p>
    {% endif %}
{% endblock %}

{% block pagetitle %}
    Вход
{% endblock %}

{% block content %}
    <div class="form-block">
        <form action="{{ path('fos_user_security_check') }}" method="post" class="login-from">
            <p class="field">
            <span class="field-while clear">
                <label>Логин:</label>
                <input type="text"
                       name="_username" {% if last_username is not empty %} value="{{ last_username }}" {% endif %}>
            </span>
            </p>

            <p>
            <span class="field-while clear">
                <label>Пароль:</label>
                <input type="password" name="_password" id="password">
                <a href="#" class="change-password icon eye" data-change-password-id="password"></a>
            </span>
            </p>

            <p class="field" align="center">
                <button type="submit" class="red button">Войти</button>
                <br> или <br>
                <a href="{{ path('fos_user_registration_register') }}">зарегистрироваться</a>
                <br>
                <a href="{{ path('fos_user_resetting_request') }}">забыли пароль?</a>
            </p>
        </form>
    </div>
{% endblock %}


