{% extends "PartnerUserBundle::layout.html.twig" %}

{% block content %}
<div class="auth-title">{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</div>
{% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}
<div><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a>

    <div>{% endif %}
        {% endif %}
        {% endblock content %}
