{% extends "PartnerUserBundle::layout.html.twig" %}

{% form_theme form 'PartnerUserBundle:Form/User:registration_fields.html.twig' %}

{% block pagetitle %}
    Регистрация
{% endblock %}

{% block errors %}
    {{ form_errors(form) }}
{% endblock %}

{% block content %}
    <div class="form-block">
        {{ form_start(form, {'action': path('fos_user_registration_register'), 'method': 'POST'}) }}
        <table class="table-register">
            <tr>
                <td>
                <span class="field-while clear">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </span>
                <span style="color:red;font-size: 0.8em;">
                    {{ form_errors(form.username) }}
                </span>
                </td>
                <td>
                <span class="field-while clear" style="width: 272px;">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </span>
                <span style="color:red;font-size: 0.8em;">
                    {{ form_errors(form.firstname) }}
                </span>
                </td>
            </tr>
            <tr>
                <td>
                <span class="field-while clear">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </span>
                <span style="color:red;font-size: 0.8em;">
                    {{ form_errors(form.email) }}
                </span>
                </td>
                <td>
                <span class="field-while clear" style="width: 272px;">
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                </span>
                <span style="color:red;font-size: 0.8em;">
                    {{ form_errors(form.lastname) }}
                </span>
                </td>
            </tr>
            <tr>
                <td>
                <span class="field-while clear">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password) }}
                    <a href="#" class="change-password icon eye" data-change-password-id="password"></a>
                </span>
                <span style="color:red;font-size: 0.8em;">
                    {{ form_errors(form.password) }}
                </span>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_widget(form.type) }}
                    <span style="color:red;font-size: 0.8em;">
                    {{ form_errors(form.type) }}
                </span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="captcha-wrap clear">
                        {{ form_widget(form.captcha) }}
                    </div>
                <span style="color:red;font-size: 0.8em;">
                    {{ form_errors(form.captcha) }}
                </span>
                </td>
                <td style="font-style: normal;">
                    введите символы с картинки
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
        </table>
        <div class="buttons1 clear">
            <button type="submit" class="red button" style="float:left">Регистрация</button>
            <div class="txt-block2">- нажимая кнопку «Регистрация» вы соглашаетесь с договором <a href="#">публичной
                    оферты.</a></div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
