Вы успешно зарегистрировались на сайте partners.bottlegame.ru
Здравствуйте, {{ user.fullname }}

Информация о вашей регистрации отправлена нашим администраторам, после проверки вы сможете создавать приложения)

{{ url }}